# Docker & OS
.DS_Store
__pycache__/
*.py[cod]
*$py.class

# Packaging / build artifacts
*.egg-info/
build/
dist/

# Logs
logs/

# Environnements virtuels
.venv/
.venv-spark/
venv/
ENV/

# DuckDB
data/duckdb/*.duckdb
data/duckdb/*.duckdb.wal

# Données brutes (on ne versionne pas les gros PDFs ou CSV)
data/pdfs/*.pdf
data/pdfs/*.csv

# Variables d'environnement
.env

# Cache pytest (regénéré à chaque exécution)
.pytest_cache/
